<button mat-raised-button id="home-button" color="primary" routerLink="/main"><mat-icon>home</mat-icon>
	<p>{{'HERO_LIST.BACK_TO_HOME' | translate }}</p>
</button>
<section id="table-manipulators">
	<mat-card id="table-filters-card" class="card-stylized manipulator-card">
		<mat-card-header>
			<mat-card-title>
				<h3>{{'HERO_LIST.FILTER_AS_DESIRED' | translate }}</h3>
			</mat-card-title>
			<mat-card-subtitle>
				<h4>{{'HERO_LIST.FILTER_ONE_OR_MORE' | translate }}</h4>
			</mat-card-subtitle>
		</mat-card-header>
		<mat-card-content id="filters-container">
			<form></form>
			<mat-form-field class="filter-item">
				<mat-label>{{'HERO_LIST.FILTER_BY_ALIAS' | translate }}</mat-label>
				<input matInput name="hero-alias" type="text"
					placeholder="{{'HERO_LIST.FILTER_ALIAS_EXAMPLE' | translate }}" [(ngModel)]="heroesFilter.alias">
			</mat-form-field>
			<mat-form-field class="filter-item">
				<mat-label>{{'HERO_LIST.FILTER_BY_NAME' | translate }}</mat-label>
				<input matInput name="hero-name" type="text"
					placeholder="{{'HERO_LIST.FILTER_NAME_EXAMPLE' | translate }}" [(ngModel)]="heroesFilter.name">
			</mat-form-field>
			<mat-form-field class="filter-item">
				<mat-label>{{'HERO_LIST.FILTER_BY_COUNTRY' | translate }}</mat-label>
				<input matInput name="hero-country" type="text"
					placeholder="{{'HERO_LIST.FILTER_COUNTRY_EXAMPLE' | translate }}"
					[(ngModel)]="heroesFilter.country">
			</mat-form-field>
		</mat-card-content>
		<mat-card-actions>
			<button class="button-filter" mat-raised-button color="primary" (click)="updateFromDBFiltered()">
				<mat-icon>filter_alt</mat-icon>
				<p>{{'HERO_LIST.FILTER_APPLY' | translate }}</p>
			</button>
			<button class="button-filter" mat-raised-button color="primary" (click)="updateFromDB()">
				<mat-icon>update</mat-icon>
				<p>{{'HERO_LIST.LIST_REFRESH' | translate }}</p>
			</button>
		</mat-card-actions>
	</mat-card>
	<mat-card id="table-actions-card" class="card-stylized manipulator-card">
		<mat-card-header>
			<mat-card-title>
				<h3>{{'HERO_LIST.ACTIONS' | translate }}</h3>
			</mat-card-title>
			<mat-card-subtitle>
				<h4>{{'HERO_LIST.ACTIONS_TIP' | translate }}</h4>
			</mat-card-subtitle>
		</mat-card-header>
		<mat-card-actions>
			<button class="top-row-margins" mat-raised-button color="primary"
				(click)="createHero()">{{'HERO_LIST.ACTIONS_CREATE_HERO' | translate }}</button>
		</mat-card-actions>
		<mat-card-content>
			<i>*</i>
			<i>{{'HERO_LIST.ACTIONS_EDIT_TIP' | translate }}</i>
		</mat-card-content>
	</mat-card>
</section>
<mat-card id="card-table" class="card-stylized">
	<mat-card-content>
		<mat-paginator #listPaginator [length]="heroesList.data.length" [pageSize]="5"
			[pageSizeOptions]="[3,5,50,100]"></mat-paginator>
		<mat-table matSort [dataSource]="heroesList">
			<ng-container matColumnDef="alias">
				<mat-header-cell *matHeaderCellDef mat-sort-header>{{'HERO.ALIAS' | translate }}</mat-header-cell>
				<mat-cell *matCellDef="let hero">{{hero.alias | uppercase}}</mat-cell>
			</ng-container>
			<ng-container matColumnDef="name">
				<mat-header-cell *matHeaderCellDef mat-sort-header>{{'HERO.NAME' | translate }}</mat-header-cell>
				<mat-cell *matCellDef="let hero">{{hero.name}}</mat-cell>
			</ng-container>
			<ng-container matColumnDef="country">
				<mat-header-cell *matHeaderCellDef mat-sort-header>{{'HERO.COUNTRY' | translate }}</mat-header-cell>
				<mat-cell *matCellDef="let hero">{{hero.country}}</mat-cell>
			</ng-container>
			<ng-container matColumnDef="actions">
				<mat-header-cell *matHeaderCellDef mat-sort-header>{{'HERO_LIST.ACTIONS' | translate }}</mat-header-cell>
				<mat-cell *matCellDef="let hero">
					<button mat-button (click)="editHero(hero)">
						<mat-icon>edit</mat-icon>
					</button>
					<button mat-button (click)="deleteHero(hero)">
						<mat-icon>delete</mat-icon>
					</button>
				</mat-cell>
			</ng-container>

			<mat-header-row *matHeaderRowDef="columnsList"></mat-header-row>
			<mat-row *matRowDef="let rowData; columns: columnsList"></mat-row>

			<div *matNoDataRow id="table-row-nodata">
				<p>{{'HERO_LIST.LIST_NO_RESULTS' | translate }}</p>
			</div>
		</mat-table>
	</mat-card-content>
</mat-card>