<header>
	<section id="title">
		<h1 class="centered-text">{{'MAIN.WELCOME' | translate }}</h1>
	</section>
	<section id="language-selection">
		<button mat-fab [matMenuTriggerFor]="langSelector"><mat-icon>language</mat-icon></button>
		<mat-menu #langSelector>
			<a mat-menu-item href="/es">Español</a>
			<a mat-menu-item href="/en">English</a>
		</mat-menu>
	</section>
</header>

<body>
	<section class="center-childs">
		<p id="paragraph-intro" class="centered-text">{{'MAIN.SYNOPSIS' | translate }}</p>
	</section>
	<section id="wrappable-section">
		<mat-card id="card-explanation">
			<mat-card-header>
				<mat-card-title>
					<h1>{{'MAIN.TITLE_WHAT' | translate }}</h1>
				</mat-card-title>
				<mat-card-subtitle>
					<h5>{{'MAIN.TITLE_CASE' | translate }}</h5>
				</mat-card-subtitle>
			</mat-card-header>
			<mat-card-content>
				<p id="paragraph-explanation" class="centered-text paragraph-narrow">{{'MAIN.FEATURES' | translate }}</p>
			</mat-card-content>
			<mat-card-actions id="actions">
				<button routerLink="/heroes" mat-raised-button color="primary">{{'MAIN.CHECK_LIST' | translate }}</button>
			</mat-card-actions>
		</mat-card>
		<mat-card id="features-card">
			<mat-list id="features-list">
				<mat-list-item>
					<a href="https://angular.io/api/core/Component" target="_blank">
						<p>{{'MAIN.COMPONENTS' | translate }}</p>
					</a>
				</mat-list-item>
				<mat-list-item>
					<a href="https://angular.io/guide/creating-injectable-service" target="_blank">
						<p>{{'MAIN.SERVICES' | translate }}</p>
					</a>
				</mat-list-item>
				<mat-list-item>
					<a href="https://angular.io/api/core/Pipe" target="_blank">
						<p>{{'MAIN.PIPES' | translate }}</p>
					</a>
				</mat-list-item>
				<mat-list-item>
					<a href="https://angular.io/guide/lazy-loading-ngmodules" target="_blank">
						<p>{{'MAIN.LAZY_LOADING' | translate }}</p>
					</a>
				</mat-list-item>
				<mat-list-item>
					<a href="https://angular.io/cli/test" target="_blank">
						<p>{{'MAIN.TESTING' | translate }}</p>
					</a>
				</mat-list-item>
				<mat-list-item>
					<a href="https://angular.io/api/common/http/HttpClient" target="_blank">
						<p>{{'MAIN.HTTPCLIENT_MODULE' | translate }}</p>
					</a>
				</mat-list-item>
				<mat-list-item>
					<a href="https://material.angular.io/" target="_blank">
						<p>{{'MAIN.ANGULAR_MATERIAL_LIB' | translate }}</p>
					</a>
				</mat-list-item>
			</mat-list></mat-card>
	</section>
</body>