<mat-card>
	<mat-card-header>
		<mat-card-title>
			<h4>{{'DIALOG.CREATE_HERO' | translate }}</h4>
		</mat-card-title>
		<mat-card-subtitle>
			<p>{{'DIALOG.TIP_VALIDATIONS' | translate }}</p>
		</mat-card-subtitle>
	</mat-card-header>
	<mat-card-content>
		<form id="hero-fields-container" novalidate (ngSubmit)="operate()" [formGroup]="heroFormGroup">
			<mat-form-field>
				<mat-label>{{'HERO.ALIAS' | translate }}</mat-label>
				<input #alias formControlName="alias" matInput type="text" [(ngModel)]="hero.alias"
					placeholder="{{'DIALOG.TIP_LENGTH_MIN' | translate }} {{_NAME_MIN_LENGHT}} {{'DIALOG.TIP_LENGTH_AND_MAX' | translate }} {{_NAME_MAX_LENGHT}} {{'DIALOG.CHARACTERS' | translate }}">
				<mat-hint class="styled-hint" *ngIf="heroFormGroup.get('alias')?.hasError('pattern')" align="start">
					{{'DIALOG.ONLY_ALPHABETIC' | translate }}
				</mat-hint>
				<mat-hint class="styled-hint" *ngIf="alias.value" align="end">
					{{'DIALOG.LENGTH' | translate }} ( {{alias.value.length}} / {{ _ALIAS_MIN_LENGHT +' - '+
					_ALIAS_MAX_LENGHT}} )
				</mat-hint>
			</mat-form-field>
			<mat-form-field>
				<mat-label>{{'HERO.NAME' | translate }}</mat-label>
				<input #name formControlName="name" matInput type="text" [(ngModel)]="hero.name"
					placeholder="{{'DIALOG.TIP_LENGTH_MIN' | translate }} {{_NAME_MIN_LENGHT}} {{'DIALOG.TIP_LENGTH_AND_MAX' | translate }} {{_NAME_MAX_LENGHT}} {{'DIALOG.CHARACTERS' | translate }}">
				<mat-hint class="styled-hint" *ngIf="heroFormGroup.get('name')?.hasError('pattern')" align="start">
					{{'DIALOG.ONLY_ALPHABETIC' | translate }}
				</mat-hint>
				<mat-hint class="styled-hint" *ngIf="name.value" align="end">
					{{'DIALOG.LENGTH' | translate }} ( {{name.value.length}} / {{ _NAME_MIN_LENGHT +' - '+
					_NAME_MAX_LENGHT}} )
				</mat-hint>
			</mat-form-field>
			<mat-form-field>
				<mat-label>{{'HERO.COUNTRY' | translate }}</mat-label>
				<input #country formControlName="country" matInput type="text" [(ngModel)]="hero.country"
					placeholder="{{'DIALOG.VALID_COUNTRY' | translate }}">
				<mat-hint class="styled-hint" *ngIf="heroFormGroup.get('country')?.hasError('pattern')"
					align="start">{{'DIALOG.TIP_ISO' | translate }}</mat-hint>
			</mat-form-field>
			<mat-card-actions id="form-actions">
				<button mat-button mat-dialog-close color="primary">{{'DIALOG.CANCEL' | translate }}</button>
				<button mat-raised-button color="primary" type="submit"
					[disabled]="heroFormGroup.invalid">{{'DIALOG.SAVE' | translate }}</button>
			</mat-card-actions>
		</form>
	</mat-card-content>
</mat-card>